* {
    margin: 0;
    padding: 0;
    font-family: inherit;
    font-size: inherit;
    border: 0;
}
.rect {
    width: 100vw;
    height: 100vh;
}
body {
    overflow: hidden;
}

.info {
    position: absolute;
    bottom: 12px;
    left: 12px;
    right: 12px;
    
}
.css, .next, .link { 
    background-color: #fff;
    margin: 0 8px;
    margin-top: 8px;
    border-radius: 8px;
    padding: 8px;
    flex-grow: 1;
    flex-basis: 100%;
    width: calc(100% - 24px);
}
.next {
    cursor: pointer;
}
#code {
    width: 100%;
}
.g {
  background: -webkit-linear-gradient();  
}